body{
    background-image: url("background.gif");
    margin-left: 10%;
    margin-right: 10%;
}
#main{
    border: 5px solid #FF0000;
    text-align: right;
}
#mainpage{
  background-color: white;
    border: 5px solid #008000;
}
.header h2 {
    border:  5px solid #FFA500;
}
.dosa{
  border: 5px solid #0000FF;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(196, 226, 255);
  overflow: hidden;
}
.pide{
  border: 5px solid #0000FF;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(196, 226, 255);
  overflow: hidden;
}
.falafel{
  border: 5px solid #0000FF;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(196, 226, 255);
  overflow: hidden;
}
.spicypot{
  border: 5px solid #0000FF;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(196, 226, 255);
  overflow: hidden;
}
.date{
  border: 2px solid #800080;
}
.img1{

  float: right;
}
.img2{
  float: right;
}
.img3{
  float: right;
}
.img4{
  float: right;
}
