body{
    background-image: url("background.gif");
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, Helvetica,sans-serif;
}
#main{
    border: 5px solid rgb(255,255,255);
    text-align: right;
    background-color: rgb(196, 226, 255);
}
#mainpage{
  background-color: white;
    border: 5px solid rgb(255,255,255);
}
.header h2 {
    border:  5px solid rgb(196, 226, 255);
}
.dosa{
  float: inherit;
  border: 5px solid rgb(168,213,225);
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(196, 226, 255);
  overflow: hidden;

}
.pide{
  float: inherit;
  border: 5px solid rgb(168,213,225);
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(196, 226, 255);
  overflow: hidden;
}
.falafel{
  border: 5px solid rgb(168,213,225);
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(196, 226, 255);
  overflow: hidden;
}
.spicypot{
  border: 5px solid rgb(168,213,225);
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(196, 226, 255);
  overflow: hidden;
}
.footer{
  text-align: center;
}
.date{
  border-bottom: 2px dotted rgb(0,0,0);
}
.img1{
  float: right;
}
.img2{
  float: right;
}
.img3{
  float: right;
}
.img4{
  float: right;
}
.links{
  float: left;
}
